IMAGE_SERVICE_PORT=3007

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=ap-southeast-2
AWS_BUCKET_NAME=s3-bucket-vehicle-rental-system

SERVICE_TOKEN=your_internal_service_token
JWT_PUBLIC_KEY_PATH=./public.key
USE_LOCAL_IMAGE_STORAGE=false
