DISPUTE_SERVICE_PORT=3008
MONGODB_URI=mongodb://localhost:27017/rental_vehicle_db
RABBITMQ_URI=amqp://localhost:5672
CONTRACT_SERVICE_URL=http://localhost:3004

JWT_PUBLIC_KEY_PATH=./keys/public.key
JWT_ALGORITHM=RS256
