RENTAL_SERVICE_PORT=3003
MONGODB_URI=mongodb://localhost:27017/vehicle_rental
RABBITMQ_URI=amqp://localhost:5672
VEHICLE_SERVICE_URL=http://localhost:3002
JWT_PUBLIC_KEY_PATH=./keys/public.key

JWT_ALGORITHM=RS256
