VEHICLE_SERVICE_PORT=3002
MONGODB_URI=mongodb://localhost:27017/vehicle_rental
REDIS_URL=redis://localhost:6379
IMAGE_SERVICE_URL=http://localhost:3007
SERVICE_TOKEN=your_internal_service_token
JWT_PUBLIC_KEY_PATH=./keys/public.key

JWT_ALGORITHM=RS256
