USER_SERVICE_PORT=3001
MONGODB_URI=mongodb://localhost:27017/vehicle_rental
JWT_EXPIRES_IN=7d
IMAGE_SERVICE_URL=http://localhost:3007

JWT_PUBLIC_KEY_PATH=./keys/public.key
JWT_PRIVATE_KEY_PATH=./keys/private.key
JWT_ALGORITHM=RS256
